@model TravelWebApp.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/shared/_TravelLayout.cshtml";
    var returnUrl = ViewBag.ReturnUrl != null ? ViewBag.ReturnUrl.ToString() : string.Empty;
    var errorMessage = Model != null ? Model.ErrorMessage : string.Empty;
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "User", new { returnUrl }, FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>
        @if (!string.IsNullOrEmpty(errorMessage))
        {
            @Html.Label(errorMessage, new { @class = "text-danger" })
        }
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Log out", "Logout")
</div>
